In [3]:
import pandas as pd

In [10]:
!ls

"ls" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.

In [20]:
df = pd.read_csv('../data/raw/german_credit_modified.csv')

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020 entries, 0 to 1019
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   laufkont        1005 non-null   object
 1   laufzeit        1010 non-null   object
 2   moral           1003 non-null   object
 3   verw            1004 non-null   object
 4   hoehe           1012 non-null   object
 5   sparkont        1008 non-null   object
 6   beszeit         1003 non-null   object
 7   rate            1011 non-null   object
 8   famges          1013 non-null   object
 9   buerge          1007 non-null   object
 10  wohnzeit        1005 non-null   object
 11  verm            1009 non-null   object
 12  alter           1009 non-null   object
 13  weitkred        1010 non-null   object
 14  wohn            1015 non-null   object
 15  bishkred        1008 non-null   object
 16  beruf           1008 non-null   object
 17  pers            1012 non-null   object
 18  telef           1012 non-null   object
 19  gastarb         1005 non-null   object
 20  kredit          1004 non-null   object
 21  mixed_type_col  928 non-null    object
dtypes: object(22)
memory usage: 175.4+ KB